<h3>{{ form.id ? 'Editar ingrediente' : 'Novo ingrediente'}}</h3>

<form (ngSubmit)="salvar()">
  <input name="codigo" placeholder="Código" [(ngModel)]="form.codigo" required >
  <input name="descricao" placeholder="Descrição" [(ngModel)]="form.descricao" required >
  <input name="precoUnitario" type="number" step="0.01" placeholder="Preço" [(ngModel)]="form.precoUnitario" >

  <label><input type="checkbox" name="podeSerAdicional" [(ngModel)]="form.podeSerAdicional">Pode ser adicional</label>

  <button type="submit">Salvar</button>
  @if (form.id)
  {
    <button type="button" (click)="limpar()">Cancelar</button>
  }
</form>

<h2>Ingredientes</h2>

<input placeholder="Buscar por descrição" [(ngModel)]="busca">
<button type="button" (click)="pesquisar()">Buscar</button>
<button type="button" (click)="busca = ''; pesquisar()">Limpar</button>

<table>
  <tr>
    <th>Código</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Pode ser adicional</th>
    <th>Ações</th>
  </tr>
  @if (ingredientes.hasValue()) {
    @for (ingrediente of ingredientes.value(); track ingrediente.id) {
      <tr>
        <td>{{ ingrediente.codigo }}</td>
        <td>{{ ingrediente.descricao }}</td>
        <td>{{ ingrediente.precoUnitario }}</td>
        <td>{{ ingrediente.podeSerAdicional ? 'Sim' : 'Não' }}</td>
        <td>
          <button type="button" (click)="editar(ingrediente)">Editar</button>
          <button type="button" (click)="excluir(ingrediente.id!)">Excluir</button>
        </td>
      </tr>
    }
  }
</table>
