<h3>Nova bebida</h3>

<form (ngSubmit)="salvar()">
  <input name="codigo" placeholder="Código" [(ngModel)]="form.codigo" required >
  <input name="descricao" placeholder="Descrição" [(ngModel)]="form.descricao" required >
  <input name="precoUnitario" type="number" step="0.01" placeholder="Preço" [(ngModel)]="form.precoUnitario" required >

  <label>
    <input type="checkbox" name="contemAcucar" [(ngModel)]="form.contemAcucar">
    Contém açúcar
  </label>

  <button type="submit">Salvar</button>
</form>

<h2>Bebidas</h2>

<table>
  <tr>
    <th>Código</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Contém açúcar</th>
  </tr>
  @for (bebida of bebidas(); track bebida.id) {
    <tr>
      <td>{{ bebida.codigo }}</td>
      <td>{{ bebida.descricao }}</td>
      <td>{{ bebida.precoUnitario }}</td>
      <td>{{ bebida.contemAcucar ? 'Sim' : 'Não' }}</td>
    </tr>
  }
</table>
